.App {
  display: flex;
  flex-direction: row;
  background-color: #272b2c;
  justify-content: flex-end;
  height: 10vh;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1116px;
  align-items: center;
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-header-container {
  display: flex;
  margin-right: 100px;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.App-header-container li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  text-decoration: none;
}

.App-logo {
  height: 10vmin;
  pointer-events: painted;
  position: relative;
  top: 10px;
  right: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
